In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2022-11-05 23:48:18,-33.6500,115.3333,59.49,61,0,12.77
1,1,Yellowknife,CA,2022-11-05 23:44:33,62.4560,-114.3525,3.72,78,40,12.66
2,2,Ahipara,NZ,2022-11-05 23:48:18,-35.1667,173.1667,66.58,50,100,1.21
3,3,Ponta Do Sol,PT,2022-11-05 23:48:18,32.6667,-17.1000,68.72,87,50,3.87
4,4,Mafinga,TZ,2022-11-05 23:48:19,-7.2500,35.0667,72.93,46,97,4.25

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key
gmaps.configure(api_key = g_key)

Create a Maximum Temperature Heatmap

In [5]:
#Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
#Get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]

#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

Create a Percent Humidity Heatmap

In [7]:
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

Create a Percent Cloudiness Heatmap

In [9]:
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

Create a Wind Speed Heatmap

In [10]:
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

Vacation Criterias

In [11]:
#Ask the customer to add a minimum and maximum temperature value
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 72
What is the maximum temperature you would like for your trip? 88

In [12]:
#Filter the data set to find the cities that fit the crieteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Mafinga,TZ,2022-11-05 23:48:19,-7.2500,35.0667,72.93,46,97,4.25
18,18,Namatanai,PG,2022-11-05 23:48:23,-3.6667,152.4333,82.89,73,100,5.41
22,22,Vaini,TO,2022-11-05 23:48:23,-21.2000,-175.2000,77.16,83,40,8.05
23,23,Lorengau,PG,2022-11-05 23:48:24,-2.0226,147.2712,84.61,71,27,3.29
27,27,Pangai,TO,2022-11-05 23:48:25,-19.8000,-174.3500,76.73,75,48,16.35
32,32,Moree,AU,2022-11-05 23:48:26,-29.4667,149.8500,72.09,43,30,6.55
34,34,Labrea,BR,2022-11-05 23:48:27,-7.2586,-64.7981,76.62,52,56,1.34
35,35,Kapaa,US,2022-11-05 23:46:46,22.0752,-159.3190,82.72,79,75,14.97
39,39,Flinders,AU,2022-11-05 23:48:28,-34.5833,150.8552,76.05,65,7,7.00
44,44,Butaritari,KI,2022-11-05 23:48:29,3.0707,172.7902,79.79,74,43,10.22

In [13]:
preferred_cities_df.count()

City_ID       168
City          168
Country       168
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [14]:
#Create a data frame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
4      Mafinga      TZ     72.93  -7.2500   35.0667
18   Namatanai      PG     82.89  -3.6667  152.4333
22       Vaini      TO     77.16 -21.2000 -175.2000
23    Lorengau      PG     84.61  -2.0226  147.2712
27      Pangai      TO     76.73 -19.8000 -174.3500
32       Moree      AU     72.09 -29.4667  149.8500
34      Labrea      BR     76.62  -7.2586  -64.7981
35       Kapaa      US     82.72  22.0752 -159.3190
39    Flinders      AU     76.05 -34.5833  150.8552
44  Butaritari      KI     79.79   3.0707  172.7902

In [15]:
#Set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

#Iterate through the data frame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #Add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Mafinga,TZ,72.93,-7.2500,35.0667,
18,Namatanai,PG,82.89,-3.6667,152.4333,Seagulls Inn Namatani
22,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
23,Lorengau,PG,84.61,-2.0226,147.2712,Lorengau Harbourside Hotel
27,Pangai,TO,76.73,-19.8000,-174.3500,Ha'apai Beach Resort
32,Moree,AU,72.09,-29.4667,149.8500,Molika Springs Motel
34,Labrea,BR,76.62,-7.2586,-64.7981,Hotel Novo Horizonte
35,Kapaa,US,82.72,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
39,Flinders,AU,76.05,-34.5833,150.8552,Shellharbour Resort & Conference Centre
44,Butaritari,KI,79.79,3.0707,172.7902,Isles Sunset Lodge

In [17]:
#Add a heatmap of temperature for vacation spots
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """

Hotel Name
{Hotel Name}

City
{City}
Country
{Country}
Max Temp
{Max Temp} Â°F


"""

#Store the data frame row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

 ### Code Breakdown ###
 #Set hotel_info equal to the info_box_content
 #In the list comprehension, each "row" of hotel_df is iteratted and then formatted into the template
 #Only rows defined in the info_box_template are used, which are hotel name, city, country, max temp

In [19]:
#Add a heatmap of temperature for vacation spots and a pop-up marker for each city
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))