In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps
import ipywidgets as widgets

# Import API key
#from config import g_key

# Configure gmaps API key
#gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Samarai,PG,-10.6167,150.6667,84.11,72,39,7.74,scattered clouds
1,1,Dikson,RU,73.5069,80.5464,17.83,95,98,10.45,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,71.46,74,31,16.51,scattered clouds
3,3,Dingle,PH,10.9995,122.6711,85.01,73,36,9.57,scattered clouds
4,4,Saint-Philippe,RE,-21.3585,55.7679,71.19,80,76,6.71,broken clouds

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 78
What is the maximum temperature you would like for your trip? 88

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Samarai,PG,-10.6167,150.6667,84.11,72,39,7.74,scattered clouds
3,3,Dingle,PH,10.9995,122.6711,85.01,73,36,9.57,scattered clouds
6,6,Freetown,SL,8.4840,-13.2299,78.55,78,0,4.09,clear sky
7,7,Kalmunai,LK,7.4167,81.8167,79.05,81,87,3.49,overcast clouds
10,10,Hilo,US,19.7297,-155.0900,82.26,82,74,7.00,broken clouds
...,...,...,...,...,...,...,...,...,...,...
644,644,Puerto Escondido,MX,15.8500,-97.0667,81.52,79,85,6.76,overcast clouds
646,646,Tual,ID,-5.6667,132.7500,84.27,73,100,8.55,overcast clouds
652,652,Nanakuli,US,21.3906,-158.1547,84.15,54,0,12.66,clear sky
663,663,Hobyo,SO,5.3505,48.5268,79.18,73,19,7.27,few clouds
668,668,Barabai,ID,-2.5833,115.3833,84.33,78,88,2.10,overcast clouds

In [10]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Samarai,PG,-10.6167,150.6667,84.11,72,39,7.74,scattered clouds
3,3,Dingle,PH,10.9995,122.6711,85.01,73,36,9.57,scattered clouds
6,6,Freetown,SL,8.4840,-13.2299,78.55,78,0,4.09,clear sky
7,7,Kalmunai,LK,7.4167,81.8167,79.05,81,87,3.49,overcast clouds
10,10,Hilo,US,19.7297,-155.0900,82.26,82,74,7.00,broken clouds
...,...,...,...,...,...,...,...,...,...,...
644,644,Puerto Escondido,MX,15.8500,-97.0667,81.52,79,85,6.76,overcast clouds
646,646,Tual,ID,-5.6667,132.7500,84.27,73,100,8.55,overcast clouds
652,652,Nanakuli,US,21.3906,-158.1547,84.15,54,0,12.66,clear sky
663,663,Hobyo,SO,5.3505,48.5268,79.18,73,19,7.27,few clouds
668,668,Barabai,ID,-2.5833,115.3833,84.33,78,88,2.10,overcast clouds

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Samarai,PG,84.11,scattered clouds,-10.6167,150.6667,
3,Dingle,PH,85.01,scattered clouds,10.9995,122.6711,
6,Freetown,SL,78.55,clear sky,8.4840,-13.2299,
7,Kalmunai,LK,79.05,overcast clouds,7.4167,81.8167,
10,Hilo,US,82.26,broken clouds,19.7297,-155.0900,
...,...,...,...,...,...,...,...
644,Puerto Escondido,MX,81.52,overcast clouds,15.8500,-97.0667,
646,Tual,ID,84.27,overcast clouds,-5.6667,132.7500,
652,Nanakuli,US,84.15,clear sky,21.3906,-158.1547,
663,Hobyo,SO,79.18,few clouds,5.3505,48.5268,
668,Barabai,ID,84.33,overcast clouds,-2.5833,115.3833,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": "AIzaSyDNmapGm3lUnitpDKBL9uuZ8A6fZlTsEYs"
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        clean_hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [15]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Samarai,PG,84.11,scattered clouds,-10.6167,150.6667,Nuli Sapi
3,Dingle,PH,85.01,scattered clouds,10.9995,122.6711,SEGAYA PROPERTY
6,Freetown,SL,78.55,clear sky,8.4840,-13.2299,The Country Lodge Hotel
7,Kalmunai,LK,79.05,overcast clouds,7.4167,81.8167,VS Villa
10,Hilo,US,82.26,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
...,...,...,...,...,...,...,...
644,Puerto Escondido,MX,81.52,overcast clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
646,Tual,ID,84.27,overcast clouds,-5.6667,132.7500,Grand Vilia Hotel
652,Nanakuli,US,84.15,clear sky,21.3906,-158.1547,Camp Pālehua
663,Hobyo,SO,79.18,few clouds,5.3505,48.5268,Halane Hotel and Restaurent
668,Barabai,ID,84.33,overcast clouds,-2.5833,115.3833,HOTEL BOURAQ INDAH PERMAI

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

Hotel Name
{Hotel Name}

City
{City}
Country
{Country}
Current Weather
{Current Description} and {Max Temp} °F


"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))